<section class="contact-section" id="contact">
  <div class="section-title">
    <h2 class="contact-title">Contact</h2>
  </div>

  <div class="contact-wrapper">
    <picture>
      <source
        srcset="/img/contacts-bear-descktop.png"
        media="(min-width: 1200px)"
      />
      <img
        src="/img/contacts-bear-mobile.png"
        alt="Bear image"
        class="contact-image"
      />
    </picture>
    <div class="contact-info">
      <h3 class="contact-subtitle">Contact Us</h3>
      <p>
        Have feedback, feature requests, or questions? We’d love to hear from
        you.
      </p>
      <p>
        Email: <a href="mailto:info@adventuregi.pro">info@adventuregi.pro</a>
      </p>
      <p>
        Note: For press inquiries, partnerships, and community features, please
        include "Media" in the subject line.
      </p>
    </div>
    <picture>
      <source
        srcset="/img/contacts-cat-descktop.png"
        media="(min-width: 1200px)"
      />
      <img
        src="/img/contacts-cat-mobile.png"
        alt="Cat image"
        class="contact-image"
      />
    </picture>
  </div>
</section>
