<footer>
  <div class="container footer">
    <nav>
      <ul class="footer-nav">
        <li class="footer-item">
          <a href="privacy.html" target="_blank" rel="noopener noreferrer">
            Privacy Policy
          </a>
        </li>
        <li class="footer-item">
          <a href="terms.html" target="_blank" rel="noopener noreferrer">
            Terms of Use
          </a>
        </li>
        <li class="footer-item">
          <a href="cookies.html" target="_blank" rel="noopener noreferrer">
            Cookie Policy
          </a>
        </li>
      </ul>
    </nav>
    <p class="footer-text">
      AdventureGI Studio – Powered by play, driven by logic
    </p>
    <p class="footer-text">© 2025 adventuregi.pro – All rights reserved</p>
  </div>
</footer>
