<footer>
  <div class="container footer">
    <nav>
      <ul class="footer-nav">
        <li class="footer-item"><a href="#privacy">Privacy Policy</a></li>
        <li class="footer-item"><a href="#terms">Terms of Use</a></li>
        <li class="footer-item"><a href="#cookie">Cookie Policy</a></li>
      </ul>
    </nav>
    <p class="footer-text">
      AdventureGI Studio – Powered by play, driven by logic
    </p>
    <p class="footer-text">© 2025 adventuregi.pro – All rights reserved</p>
  </div>
</footer>
