<header>
  <div class="container header">
    <a href="index.html">
      <img src="/img/logo-icon.png" alt="Logo" class="logo" />
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <!-- десктопна навігація -->
        <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
        <li class="nav-item">
          <a href="#gameplay" class="nav-link">Gameplay</a>
        </li>
        <li class="nav-item">
          <a href="#features" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="#strategy" class="nav-link">Strategy</a>
        </li>
        <li class="nav-item"><a href="#levels" class="nav-link">Levels</a></li>
        <li class="nav-item">
          <a href="#visuals" class="nav-link">Visuals</a>
        </li>
        <li class="nav-item">
          <a href="#updates" class="nav-link">Updates</a>
        </li>
        <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a></li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="burger" type="button" data-menu-open>
      <img src="/img/burger-icon.png" alt="Menu" class="burger-icon" />
    </button>

    <!-- BURGER MENU -->
    <div class="burger-menu" data-menu hidden>
      <nav class="burger-nav">
        <ul class="burger-nav-list">
          <li class="burger-nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="burger-nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="burger-nav-item">
            <a href="#gameplay" class="nav-link">Gameplay</a>
          </li>
          <li class="burger-nav-item">
            <a href="#features" class="nav-link">Features</a>
          </li>
          <li class="burger-nav-item">
            <a href="#strategy" class="nav-link">Strategy</a>
          </li>
          <li class="burger-nav-item">
            <a href="#levels" class="nav-link">Levels</a>
          </li>
          <li class="burger-nav-item">
            <a href="#visuals" class="nav-link">Visuals</a>
          </li>
          <li class="burger-nav-item">
            <a href="#updates" class="nav-link">Updates</a>
          </li>
          <li class="burger-nav-item">
            <a href="#faq" class="nav-link">FAQ</a>
          </li>
          <li class="burger-nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
