<section class="hero">
  <div class="container hero__container">
    <div class="hero__phones">
      <img src="/img/phones.png" alt="Game screen 1" />
    </div>
    <div class="hero__content">
      <h1 class="hero__title">Container Adventure</h1>

      <a href="#" class="hero__btn">
        <img src="/img/GooglePlay.png" alt="Google Play" />
        Google Play
      </a>

      <div class="hero_block">
        <p class="hero__subtitle">
          Sort. Match. Eliminate.<br />
          Conquer the supermarket challenge.
        </p>
        <p class="hero__text">
          Get ready to enter a colorful world of chaos and fun.
          In Container Adventure, your mission is to master the art
          of supermarket elimination—match identical products, unlock
          new aisles, and rise to the top of the leaderboard.
        </p>
      </div>
    </div>
  </div>
</section>