<section class="hero">
  <div class="container message-container" data-message hidden>
    <p class="cookies-message">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="button-group">
      <button type="button" class="accept-button">Accept cookies</button>
      <button type="button" class="decline-button">Decline cookies</button>
    </div>
  </div>

  <div class="container hero__container">
    <div class="hero__phones">
      <picture>
        <source srcset="/img/phones-desktop.png" media="(min-width: 1200px)" />
        <img src="/img/phones-mobile.png" alt="Phone image" />
      </picture>
    </div>
    <div class="hero__content">
      <h1 class="hero__title">Container Adventure</h1>

      <a
        href="https://play.google.com/store/apps/details?id=com.djrt.drtg&hl=en&gl=us "
        target="_blank"
        rel="noopener noreferrer"
        class="hero__btn"
      >
        <img src="/img/GooglePlay.png" alt="Google Play" />
        Google Play
      </a>

      <div class="hero_block">
        <p class="hero__subtitle">
          Sort. Match. Eliminate.<br />
          Conquer the supermarket challenge.
        </p>
        <p class="hero__text">
          Get ready to enter a colorful world of chaos and fun. In Container
          Adventure, your mission is to master the art of supermarket
          elimination—match identical products, unlock new aisles, and rise to
          the top of the leaderboard.
        </p>
      </div>
    </div>
  </div>
</section>
