:root {
  --font-family: 'Nunito', system-ui, sans-serif;
  --second-family: 'DynaPuff';

  font-family: var(--font-family);

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #171717;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
}

main {
  flex: 1;
}

.about-section,
.gameplay-section,
.features-section,
.strategy-section,
.levels-section,
.visuals-section,
.updates-section,
.faq-section,
.contact-section {
  scroll-margin-top: 50px;
}
