.container {
  width: 100%;
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
    width: 1200px;
  }
}

@media (min-width: 1440px) {
  body {
    background-color: #f3f4f6;
  }
}
