.footer {
  padding: 8px 0px;
  width: 100%;
  height: auto;
  background: #fed7aa;
  color: #171717;
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 12px;
}

.footer-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #171717;
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #171717;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 24px 338px;
    height: auto;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 46px;
  }

  .footer-item {
    font-size: 24px;
  }

  .footer-text {
    font-size: 18px;
    text-align: center;
  }
}
