.hero {
  position: relative;
  display: flex;
  justify-content: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 100;
}

.hero__phones img {
  width: 288px;
  max-width: 100%;
  height: auto;
}
.hero__phones {
  margin-top: 56px;
}

.hero__content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 24px;
}

.hero__title {
  font-family: 'DynaPuff', sans-serif;
  font-size: 32px;
  white-space: normal;
  order: 1;
  line-height: 1.2;
}

.hero__btn {
  width: 288px;
  font-weight: 400;
  font-size: 14px;
  padding: 16px 24px;
  border-radius: 16px;
  margin: 20px auto;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #ffd7aa;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  order: 2;
}

.hero__subtitle {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 16px;
}

.hero__text {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.hero_block {
  width: 288px;
  margin: 0 auto;
  text-align: center;
  order: 2;
}

/* COOKIES MESSAGE */
.message-container {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-radius: 24px;
  max-width: 100%;
  height: 322px;
  background-color: #fafafa;
  margin: 0 auto;
  padding: 40px 16px;
  top: 276px;
  z-index: 101;
}
.cookies-message {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #332929;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.accept-button {
  border-radius: 16px;
  padding: 16px;
  width: 288px;
  height: 57px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fed7aa;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #171717;
  border: none;
}

.decline-button {
  border-radius: 16px;
  padding: 16px;
  width: 288px;
  height: 57px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff7ed;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #171717;
  border: none;
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 48px;
  }

  .hero__container {
    width: 1072px;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 12px;
  }
  .hero__phones {
    margin-top: 0px;
  }
  .hero__phones img {
    width: 393px;
  }

  .hero__content {
    width: 667px;
    align-items: flex-start;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .hero__title {
    width: 100%;
    font-family: 'DynaPuff', sans-serif;
    font-size: 64px;
    text-align: center;
  }

  .hero__btn {
    width: 341px;
    margin: 48px auto 0;
    order: 4;
  }

  .hero__subtitle {
    font-size: 32px;
    font-weight: 500;
  }

  .hero__text {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
  }

  .hero_block {
    width: 100%;
    padding: 24px 26px 0 26px;
    text-align: center;
    order: 3;
  }

  /* COOKIES MESSAGE */
  .message-container {
    height: 291px;
    top: 355px;
    padding: 64px 232px;
  }

  .button-group {
    flex-direction: row;
    gap: 24px;
  }
  .cookies-message {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 40px;
  }

  .accept-button {
    margin: 0;
  }
}
